body{
display:grid;
grid-template-columns:200px 1fr;
grid-template-rows:80px 1fr 60px;
grid-template-areas:
"header header"
"menu main"
"footer footer";
height:100vh;
font-family:Arial, Helvetica, sans-serif;
}