body{
display:grid;
grid-template-columns:200px 1fr;
grid-template-rows:80px 1fr 60px;
grid-template-areas:
"header header"
"menu main"
"footer footer";
height:100vh;
font-family:Arial, Helvetica, sans-serif;
}

header{
    grid-area: header;
    background-color: #ffcc00;
    padding: 20px;

}

nav{
    grid-area: menu;
    background-color: #f4f4f4;
    padding: 20px;
}

main{
    grid-area: main;
    padding: 20px;
}

footer{
    grid-area: footer;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style: none;
}

nav li{
padding:10px;
margin-bottom:10px;
background:#ddd;
cursor:pointer;
}

nav li:hover{
background:#ffcc00;
transform:scale(1.05);
transition:0.3s;
}

nav li::before{
content:"🐾 ";
}

@keyframes aparecer{
from{
opacity:0;
transform:translateX(-20px);
}
to{
opacity:1;
transform:translateX(0);
}
}

nav li{
animation:aparecer 0.5s ease;
}

@keyframes subir{
from{
transform:translateY(-30px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}

header h1{
animation:subir 1s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
